@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  box-sizing: border-box;
}

:root {
  --font-main: 'Montserrat', sans-serif;
  --font-game: 'Press Start 2P', cursive;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  background-color:  #222224;
  color: #f3ecf3;
  padding: .5em;
}

#logo {
  height: 50px;
  padding: .2em;
}

input[type='text'] {
  padding: .5em 0 .5em .5em;
  border: none;
  color: white;
}

#search {
  padding: .5em;
}

.search {
  display: flex;
  justify-content: flex-end;
}

#search, input[type='text'] {
  background-color: transparent;
  border: 1px solid white;
}

#pokemonName {
  border-bottom: 1px solid white;
}

::placeholder {
  color: white;
}

main {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding-top: 2em;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  padding: 1em;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card > * { 
  outline: 10px solid black;
}
.card-img {
  background-color: rgb(240, 0, 0);
}
.card-actual-img {
  width: 100%;
  transition-timing-function: ease-in;
  transition: scale 1s;
}

.card-description {
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
}

.card-description h1 {
  font-size: 1.5em;
  text-align: center;
}
.card-actual-img:hover {
  scale: 1.15;
}
@media screen and (min-width: 35em) {
  header {
    flex-direction: row;
  }
  main {
    width: 70%;
  }
}